body {
    margin: 0;
    font-family: sans-serif;
    position: relative;
}

.top-navigation {
    display: grid;
    grid-template-columns: 10% 250px 250px auto 24px 24px 24px 24px 100px 20%;
    align-items: center;
    background-color: #4a657d;
    color: white;
    height: 40px;
    width: 100%;
}
.top-navigation img {
    width: 12px;
    height: auto;
}

.top-navigation__call-us-option {
    grid-column-start: 2;
}

.top-navigation__call-us-option img {
    margin-right: 5px;
}

.top-navigation__facebook-option {
    grid-column-start: 5;
}

.top-navigation__email-option img {
    margin-right: 5px;
}






